# ─── Database ────────────────────────────────────────────────────────────────
DB_ROOT_PASSWORD=dj1234dj
DB_USER=ankhoptics
DB_PASSWORD=dj1234dj

# ─── Next Auth ───────────────────────────────────────────────────────────────
NEXTAUTH_SECRET=ankhoptics-super-secret-change-this
NEXTAUTH_URL=http://YOUR_SERVER_IP

# ─── Cloudinary ──────────────────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=dohcsdoe4
CLOUDINARY_API_KEY=773475973239424
CLOUDINARY_API_SECRET=qku7vQA6cRHQ5yyfV2rwlq1-EYc
